<section class="tiles">

{% assign count = 0 %}
{% for post in site.posts %}
{% assign count = count | plus:1 %}
	<article class="style{{ count }}">
		<span class="image">
			<img src="{{ site.url }}{{ site.baseurl }}/images/pic08.jpg" alt="" />
		</span>
		<a href="{{ post.url | prepend:site.baseurl | prepend:site.url }}">
			<h2>{{ post.title }}</h2>
			<div class="content">
				<p>{{ post.excerpt }}</p>
			</div>
		</a>
	</article>
	{% if count == 7 %}{% assign count = 0 %}{% endif %}
{% endfor %}

</section>
