<!DOCTYPE html>
<html>

<script type="text/javascript">

// Replace labnol with your disqus shortname
var disqus_shortname = "afarian";

// Put the permalink of your web page / blog post
var disqus_url = "https://blog.afarian.me{{ page.url }}";

// Put the permalink of your web page / blog post
var disqus_identifier = "{{ page.id }}";

var disqus_loaded = false;

// This is the function that will load Disqus comments on demand
function disqus() {

  if (!disqus_loaded)  {

    // This is to ensure that Disqus widget is loaded only once
    disqus_loaded = true;

    var e = document.createElement("script");
    e.type = "text/javascript";
    e.async = true;
    e.src = "//" + disqus_shortname + ".disqus.com/embed.js";
    (document.getElementsByTagName("head")[0] ||
     document.getElementsByTagName("body")[0])
    .appendChild(e);
  }
}

</script>

{% include head.html %}

<body>

    {% include header.html %}

    <h2>{{ page.title }}</h2>
     {{ content }}

     <span class="datetags"><b>Last updated:</b> {{ page.date | date_to_long_string }}<br>
       {% if page.tags.size > 0 %}
   <b>Tag{% if page.tags.size > 1 %}s{% endif %}:</b>
   {{ page.tags | sort | join: ", " }}
 {% endif %}</span>
<br>
<center>

{% if page.comments %}
<div id="disqus_thread">
  <ul class="actions">
  <li><a href="#" class="button" onclick="disqus();return false;">Show Comments</a></li>
  </ul>
</div>
  <!-- <script>

  var disqus_config = function () {
  this.page.url = "https://blog.afarian.me{{ page.url }}";
  this.page.identifier = "{{ page.id }}";
  };

  (function() {
  var d = document, s = d.createElement('script');
  s.src = 'https://afarian.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->

{% endif %}

<p><a href="{{ site.baseurl }}/" class="logo">Return to homepage</a></p></center>




    {% include footer.html %}
</body>

</html>
