<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <h2>{{ page.title }}</h2> {% if page.featured-image %}
    <span class="image main">
      <img src="{{ page.featured-image }}" alt="">
    </span> {% endif %} {{ content }}

<br><br>
<center><p><a href="{{ site.baseurl }}/" class="logo">Return to homepage</a></p></center>

  {% if page.comments %}
  <div id="disqus_thread"></div>
    <script>

    var disqus_config = function () {
    this.page.url = "https://blog.afarian.me{{ page.url }}";
    this.page.identifier = "{{ page.id }}";
    };

    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://afarian.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endif %}


    {% include footer.html %}
</body>

</html>
